@import '~bootstrap/scss/bootstrap';

// Font
@import '~@fontsource/poppins/200.css';
@import '~@fontsource/poppins/300.css';
@import '~@fontsource/poppins/400.css';
@import '~@fontsource/poppins/500.css';
@import '~@fontsource/poppins/600.css';
@import '~@fontsource/poppins/700.css';

body{
    font-family: 'Poppins', sans-serif;
}

// Classi comuni
.container{
    width: 80%;
    margin: auto;
}

.m_button{
    padding: 8px 20px;
    border-radius: 7px;
    border: 1px solid;
}

.nex_title{
    padding: 7px 0px 7px 30px;
    border: 1px solid;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}