// Colori
$mainFontColor: #121117;
$buttonIconColor: #048383;
$secondaryFontColor: #5c5e5e;
$lightFontColor: #aeb0b0;
$decorationColor: #45bbbc;

// Font
$areaTitleSize: 45px;
$textFontSize: 15px;
$headingSize: 20px;